<div class="min-h-screen py-6 md:py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <%= render "shared/card" do %>
      <h1 class="text-h1 text-[rgb(26,26,26)] mb-6">New Program</h1>
      <%= render "form" %>
    <% end %>
  </div>
</div>
