<%
# Page Container Component
#
# Standard page wrapper with solid background and max-width container
#
# @param max_width [String] Maximum width - '2xl', '4xl', '7xl' (default: '4xl')
# @param content [Block] Page content passed as block

max_width = local_assigns.fetch(:max_width, '4xl')

max_width_class = case max_width
when '2xl'
  'max-w-2xl'
when '7xl'
  'max-w-7xl'
else # '4xl'
  'max-w-4xl'
end
%>

<div class="min-h-screen py-12 px-4 sm:px-6 lg:px-8">
  <div class="<%= max_width_class %> mx-auto">
    <%= yield %>
  </div>
</div>
